.services {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.slider {
  width: 700px;
  margin: 0 auto 20px;
  text-align: center;
}

.slider .photos {
  position: relative;
  height: 433px;
}

.slider .photos img {
  width: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition: opacity 1s;
}

.slider .photos img.shown {
  opacity: 1;
}

.prev:before,
.next:before {
  color: #fff;
  font-size: 100px;
  position: absolute;
  top: 35%;
  cursor: pointer;
}

.prev:before {
  content: "<";
  left: 0;
}

.next:before {
  content: ">";
  right: 0;
}

@media (max-width: 700px) {
  .prev:before,
  .next:before {
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 30%;
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .prev:before,
  .next:before {
    color: #fff;
    font-size: 70px;
    position: absolute;
    top: 25%;
    cursor: pointer;
  }
}

@media (max-width: 400px) {

  .services {
    height: 300px;
    margin: 25px;
    display: flex;
    justify-content: space-around;
  }
  
  .slider .photos {
    height: 300px;
    width: 300px;
  }

  .prev:before,
  .next:before {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 20%;
    cursor: pointer;
  }
}
